@{
    ViewData["Title"] = " Sobre Nós";
}

<div>
    <p><h3>Este trabalho foi desenvolvido pelos alunos:</h3></p>
    <p>Carina Tomé | 1012164</p>
    <p>Micael Santos | </p>
    <p>Pedro Sanches | 1012180</p>
</div>
<p></p>