
@{
    ViewData["Title"] = "Voluntario";
}

<h3>Inscrições para recrutamento de voluntários para apoio aos doentes do Hospital Guarda</h3>
<br />
<h>
    <p>
        Estão abertas as inscrições para novos voluntários de apoio aos utentes do Hopital Guarda. Os interessados devem imprimir e preencher a ficha de inscrição e entregar no: Hospital Guarda.
        As inscrições devem ser efetuadas até ao próximo dia 11 de dezembro 2018.</p>
    <p>    Para informações adicionais devem contactar o Grupo de Voluntariado para apoio aos doentes do Hospital Guarda: voluntario.hg@sapo.pt</p>
</h>
<br />
<h5> <a href="C:\Users\Pedro\Desktop\Inscrição.pdf" download="Inscrição">Ficha de inscrição 2019-2020</a> </h5>

