@model EscalonamentoHorarios_Grupo3.Models.UnidadesServico

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UnidadesServico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnidadesServicoID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnosServico" class="control-label"></label>
                <input asp-for="AnosServico" class="form-control" />
                <span asp-validation-for="AnosServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turnos" class="control-label"></label>
                <input asp-for="Turnos" class="form-control" />
                <span asp-validation-for="Turnos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro" class="control-label"></label>
                <input asp-for="Enfermeiro" class="form-control" />
                <span asp-validation-for="Enfermeiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
